---
pagination:
  data: galeriaCatalog.items
  size: 1
  alias: galeriaEntry
permalink: "{{ galeriaEntry.url }}"
layout: default
eleventyComputed:
  title: "{{ galeriaEntry.item.titulo | default('Sem título', true) }}{% if galeriaEntry.item.data %} ({{ galeriaEntry.item.data }}){% endif %}"
  subtitulo: "<a href='{{ galeriaEntry.galleryUrl }}'>≪ {{ galeriaEntry.galleryTitle }}</a>"
---

{% set currentItem = galeriaEntry.item %}
{% set mainMedia = currentItem.medias[0] if currentItem.medias and currentItem.medias.length else null %}
{% if mainMedia and mainMedia.src %}
  <figure>
    <img src="{{ mainMedia.src }}"
         class="imgPrincipal galeria-item-imgPrincipal"
         alt="{{ currentItem.titulo | default("Imagem da galeria") | escape }} hover-original" />
    <figcaption>
      {{ galeriaEntry.item.titulo | default('Sem título', true) }}
      {% if galeriaEntry.item.data %}, {{ galeriaEntry.item.data }}{% endif %}
    </figcaption>
  </figure>
{% endif %}
{# <h2>Dados</h2> #}
<table class="galeria-item-infobox">
  <tbody>
    {% if currentItem.camera | length > 0 %}
      <tr class="galeria-item-camera">
        <th>Câmera</th>
        <td>{{ currentItem.camera }}</td>
      </tr>
    {% endif %}
    {% if currentItem.software | length > 0 %}
      <tr class="galeria-item-software">
        <th>Software</th>
        <td>
          {% for sw in currentItem.software %}
            {{ sw }}
            {% if not loop.last %},{% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    {% if currentItem.data %}
      <tr class="galeria-item-data">
        <th>Data</th>
        <td>{{ currentItem.data }}</td>
      </tr>
    {% endif %}
    {# {% if currentItem.tags | length > 0 %}
      <tr class="galeria-item-tags">
        <th>Tags</th>
        <td>
          {% for tag in currentItem.tags %}
            #{{ tag }}
            {% if not loop.last %}{% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endif %} #}
  </tbody>
</table>
{% if currentItem.desc | length > 0 %}
  <div class="galeria-item-desc">{{ currentItem.desc | renderMarkdown | safe }}</div>
{% endif %}
{% if currentItem.medias | length > 1 %}
  {# <h3>Mídias</h3> #}
  <div class="gallery-item-medias">
    {% for media in currentItem.medias %}
      {% if media.src | length > 0 %}
        <figure>
          <img src="{{ media.src }}" alt="hover-original" />
        </figure>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
