---
pagination:
  data: galeriaCatalog.items
  size: 1
  alias: galeriaEntry
permalink: "{{ galeriaEntry.url }}"
layout: default
eleventyComputed:
  title: "{{ galeriaEntry.item.titulo | default('Sem título', true) }}{% if galeriaEntry.item.data %} ({{ galeriaEntry.item.data }}){% endif %}"
  subtitulo: "<a href='{{ galeriaEntry.galleryUrl }}'>≪ {{ galeriaEntry.galleryTitle }}</a>"
  imgPrincipal: "{% if galeriaEntry.item.medias and galeriaEntry.item.medias.length %}{{ galeriaEntry.item.medias[0].src }}{% endif %}"
  imgPrincipalCaption: "{{ galeriaEntry.item.titulo | default('Sem título', true) }}{% if galeriaEntry.item.data %}, {{ galeriaEntry.item.data }}{% endif %}"
  imgPrincipalOriginal: true
---

{% set currentItem = galeriaEntry.item %}
<table class="galeria-item-infobox">
  <tbody>
    {% if currentItem.tipo %}
      <tr class="galeria-item-tipo">
        <th>Tipo</th>
        <td>{{ currentItem.tipo }}</td>
      </tr>
    {% endif %}
    {% if currentItem.camera | length > 0 %}
      <tr class="galeria-item-camera">
        <th>Câmera</th>
        <td>{{ currentItem.camera }}</td>
      </tr>
    {% endif %}
    {% if currentItem.software | length > 0 %}
      <tr class="galeria-item-software">
        <th>Software</th>
        <td>
          {% for sw in currentItem.software %}
            {{ sw }}
            {% if not loop.last %},{% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    {% if currentItem.data %}
      <tr class="galeria-item-data">
        <th>Data</th>
        <td>{{ currentItem.data }}</td>
      </tr>
    {% endif %}
    {% if currentItem.cliente %}
      <tr class="galeria-item-cliente">
        <th>Cliente</th>
        <td>{{ currentItem.cliente }}</td>
      </tr>
    {% endif %}
    {# {% if currentItem.tags | length > 0 %}
      <tr class="galeria-item-tags">
        <th>Tags</th>
        <td>
          {% for tag in currentItem.tags %}
            #{{ tag }}
            {% if not loop.last %}{% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endif %} #}
  </tbody>
</table>
{% if currentItem.desc | length > 0 %}
  <div class="galeria-item-desc">{{ currentItem.desc | renderMarkdown | safe }}</div>
{% endif %}
{% if currentItem.medias | length > 1 %}
  {# <h3>Mídias</h3> #}
  <div class="gallery-item-medias">
    {% for media in currentItem.medias %}
      {% if media.src | length > 0 %}
        {% if media.tipo == "video" %}
          {{ media.src | renderMarkdown | safe }}
        {% elseif not media.thumbOnly %}
          <figure>
            <img src="{{ media.src }}" alt="hover-original" class="imgPrincipal" />
            {% if media.caption | length > 0 %}<figcaption>{{ media.caption }}</figcaption>{% endif %}
          </figure>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
