/* ----------------------------------------------
 * Respiração
 * ---------------------------------------------- */

@keyframes breathing {
	0%,
	100% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(1.036);
	}
}

.breathing {
	animation: breathing 8s ease-in-out infinite;
	transform-origin: bottom;
}

/* ----------------------------------------------
 * Efeito CRT
 * ---------------------------------------------- */

body.crt::before {
	content: " ";
	display: block;
	position: fixed;
	inset: 0;
	background:
		linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06)
		);
	background-size: auto, auto;
	background-size:
		100% 2px,
		3px 100%;
	z-index: 99999;
	pointer-events: none;
}

/* ----------------------------------------------
 * Delay
 * ---------------------------------------------- */

.delay-1 {
	animation-delay: 0.4s !important;
}

.delay-2 {
	animation-delay: 0.8s !important;
}

.delay-3 {
	animation-delay: 1.2s !important;
}

.delay-4 {
	animation-delay: 1.6s !important;
}

.delay-5 {
	animation-delay: 2s !important;
}

/* ----------------------------------------------
 * Fade In
 * ---------------------------------------------- */

.fade-in {
	opacity: 0;
	animation: fadeIn 1.25s ease forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in-up {
	animation: fadeInAnimationUp ease 1.4s !important;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimationUp {
	0% {
		opacity: 0;
		transform: translateY(18px);
		/* Começa levemente abaixo */
	}

	100% {
		opacity: 1;
		transform: translateY(0);
		/* Termina na posição normal */
	}
}

.fade-in-index {
	opacity: 0;
	animation: fadeInAnimation ease 5s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

.fade-in-404 {
	opacity: 0;
	animation: fadeInAnimation ease 3s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* ----------------------------------------------
 * Loading Wheel
 * ---------------------------------------------- */
.loading-wheel {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	height: 2rem;
	width: 2rem;
	aspect-ratio: 1/1;
	animation: rotate 1s linear infinite;
}

.loading-wheel::before {
	content: "";
	display: block;
	width: 1em;
	height: 1em;
	background: no-repeat center/contain;
	mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M225.15-146.41q-53.66 0-91.42-37.76-37.75-37.75-37.75-91.42 0-53.66 37.75-91.54Q171.49-405 225.15-405q53.67 0 91.54 37.87 37.88 37.88 37.88 91.54 0 53.67-37.88 91.42-37.87 37.76-91.54 37.76Zm509.7 0q-53.67 0-91.54-37.76-37.88-37.75-37.88-91.42 0-53.66 37.88-91.54Q681.18-405 734.85-405q53.66 0 91.42 37.87 37.75 37.88 37.75 91.54 0 53.67-37.75 91.42-37.76 37.76-91.42 37.76ZM480-555q-53.66 0-91.54-37.87-37.87-37.88-37.87-91.54 0-53.67 37.87-91.42 37.88-37.76 91.54-37.76 53.66 0 91.54 37.76 37.87 37.75 37.87 91.42 0 53.66-37.87 91.54Q533.66-555 480-555Z"/></svg>');
	background-color: #fff;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* ----------------------------------------------
 * Dropdown
 * ---------------------------------------------- */

@keyframes dropdownAnimation {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 500px;
	}
}

/* ----------------------------------------------
 * Folhas
 * ---------------------------------------------- */

.leaves {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0.2;
}

.leaf {
	position: absolute;
	font-size: clamp(1rem, 2vw, 1.7rem);
	color: var(--clr-white);
	animation: leafFall linear infinite;
}

@keyframes leafFall {
	0% {
		transform: translate(0, -10vh) rotate(0deg);
		opacity: 0;
	}

	10% {
		opacity: 0.3;
	}

	90% {
		opacity: 0.3;
	}

	100% {
		transform: translate(var(--leaf-x-end), 110vh) rotate(var(--leaf-rotate));
		opacity: 0;
	}
}

/* <script>
      document.addEventListener("DOMContentLoaded", function() {
        const leavesContainer = document.getElementById('leaves');
        for (let i = 0; i < 12; i++) {
          const leaf = document.createElement('span');
          leaf.className = 'leaf';
          leaf.textContent = '/'; // Símbolo da folha
          // Randomizar posição e duração
          leaf.style.left = Math.random() * 100 + 'vw';
          leaf.style.animationDuration = (14 + Math.random() * 6) + 's';
          leaf.style.setProperty('--leaf-x-end', (Math.random() * 100 - 50) + 'vw');
          leaf.style.setProperty('--leaf-rotate', (Math.random() * 360) + 'deg');
          leavesContainer.appendChild(leaf);
        }
      });
      </script> */

/* ----------------------------------------------
 * Flicker
 * ---------------------------------------------- */

.animate-flicker {
	animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

.animate-flicker-soft {
	filter: drop-shadow(0 0 6px #0ff);
	animation: flicker-soft 1.2s infinite;
}

@keyframes flicker-soft {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 0.85;
	}
}

.flicker-opacity {
	animation: flicker-opacity 1.8s infinite;
}

@keyframes flicker-opacity {
	0% {
		opacity: 0.6;
	}
	10% {
		opacity: 0.8;
	}
	20% {
		opacity: 0.6;
	}
	30% {
		opacity: 0.9;
	}
	40% {
		opacity: 0.7;
	}
	55% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/* ----------------------------------------------
 * Tilt
 * ---------------------------------------------- */

.tilt {
	animation: tilt 6s cubic-bezier(0.43, 0, 0.43, 1) infinite;
}

@keyframes tilt {
	0%,
	100% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(1.3deg);
	}
}

/* ----------------------------------------------
 * Idle Zoom
 * ---------------------------------------------- */

.idle-zoom {
	animation: zoom 15s ease-in-out infinite;
}

@keyframes zoom {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
}

/* ----------------------------------------------
 * Load
 * ---------------------------------------------- */

/* <div class="progressive-loader">
        <img src="" class="progressive-img">
  <div class="progressive-mask"></div>
</div> */

.progressive-loader {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.progressive-img {
	display: block;
	/* filter: brightness(0.7) contrast(1.2); */
}

.progressive-mask {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: repeating-linear-gradient(
		to top,
		var(--clr-black-a0) 0 12px,
		var(--clr-black-a0) 12px 24px
	);
	animation: progressive-reveal 5s steps(2) forwards;
	pointer-events: none;
	z-index: 2;
}

@keyframes progressive-reveal {
	0% {
		height: 100%;
	}
	10% {
		height: 100%;
	}
	16% {
		height: 89%;
	}
	26% {
		height: 76%;
	}
	29% {
		height: 70%;
	}
	40% {
		height: 61%;
	}
	50% {
		height: 50%;
	}
	55% {
		height: 41%;
	}
	74% {
		height: 36%;
	}
	81% {
		height: 20%;
	}
	90% {
		height: 14%;
	}
	100% {
		height: 0%;
	}
}

/* ----------------------------------------------
 * Memory Fragment
 * ---------------------------------------------- */

.memory-fragment {
	/* backdrop-filter: blur(3px); */
	transform-origin: center;
	animation: fragmentFloat 8s infinite ease-in-out;
}

.memory-fragment::before {
	content: "";
	position: absolute;
	pointer-events: none;
	animation: gradientShift 4s infinite ease-in-out;
}

@keyframes fragmentFloat {
	0%,
	100% {
		transform: translate(0, 0) rotate(0deg);
	}

	50% {
		transform: translate(5px, -5px) rotate(0.5deg);
	}
}

@keyframes gradientShift {
	0%,
	100% {
		opacity: 0.3;
	}

	50% {
		opacity: 0.6;
	}
}

/* ----------------------------------------------
 * Glitch
 * ---------------------------------------------- */

.glitch {
	/* display: inline-block; */
	animation: glitch 8s infinite;
}

@keyframes glitch {
	0%,
	100% {
		transform: translate(0);
		filter: opacity(0.8);
	}

	94% {
		transform: translate(-2px, 1px);
		filter: opacity(0.6);
	}

	96% {
		transform: translate(1px, -2px);
		filter: opacity(0.7);
	}

	98% {
		transform: translate(-1px, -1px);
		filter: opacity(0.5);
	}
}

/* ----------------------------------------------
 * Online Status
 * ---------------------------------------------- */

.status-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
}

.status-indicator.verde {
	background: var(--clr-green-a30);
	animation: pulse-verde 2s infinite;
}

@keyframes pulse-verde {
	0% {
		box-shadow: 0 0 0 0 var(--clr-green-a30);
	}

	70% {
		box-shadow: 0 0 0 10px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

.status-indicator.bw {
	background: transparent;
	border: 1px solid var(--clr-white);
	position: relative;
	z-index: 1;
}

.status-indicator.bw::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 10px;
	height: 10px;
	border-radius: calc(var(--b-radius) + 50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	border: 1px solid var(--clr-white);
	opacity: 0.7;
	animation: radar-pulse 1.5s infinite;
}

@keyframes radar-pulse {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.7;
	}

	100% {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
	}
}

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */

.jello-vertical:hover {
	-webkit-animation: jello-vertical 0.75s both;
	animation: jello-vertical 0.75s both;
}

@-webkit-keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

/* ----------------------------------------------
 * Efeito de máquina de escrever
 * Fonte: https://css-tricks.com/snippets/assets/css/typewriter-effect/
 * ---------------------------------------------- */

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}

	50% {
		border-color: var(--clr-white);
	}
}

/* Apenas a barrinha */
@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}

	51%,
	100% {
		opacity: 0;
	}
}

.typewriter-barra {
	display: inline-block;
	width: 0.1rem;
	height: 1em;
	background: currentColor;
	vertical-align: bottom;
	margin-left: 2px;
	animation: blink 0.75s steps(1) infinite;
	margin-bottom: 2px;
}

.typewriter {
	width: 0;
	/* Inicialmente 0, a animação vai aumentando */

	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	white-space: nowrap;
	/* Keeps the content on a single line */
	text-overflow: ellipsis;

	border-right: 0.1em solid var(--clr-white);
	letter-spacing: 0.15rem;
	/* Adjust as needed */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */

	animation:
		typing 3.5s steps(40, end),
		blink-caret 0.75s step-end infinite;
}

/* ----------------------------------------------
 * Glow
 * ---------------------------------------------- */

@keyframes glow {
	0% {
		text-shadow:
			0 0 5px var(--clr-main-a10),
			0 0 2px var(--clr-main-a30),
			0 0 5px var(--clr-main-a40),
			0 0 5px var(--clr-main-a20),
			0 0 5px var(--clr-main-a50),
			0 0 2px var(--clr-main-a0),
			0 0 5px var(--clr-main-a30);
	}
	to {
		text-shadow:
			0 0 10px var(--clr-main-a30),
			0 0 10px var(--clr-main-a0),
			0 0 10px var(--clr-main-a50),
			0 0 5px var(--clr-main-a20),
			0 0 10px var(--clr-main-a40),
			0 0 5px var(--clr-main-a30),
			0 0 10px var(--clr-main-a10);
	}
}
