body > div#container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
}

pre#tituloPagina {
  width: fit-content;
  max-width: 100%;
  margin-bottom: 12px;
  overflow: hidden;
  font-size: clamp(0.4em, 1vw, 1em);
  line-height: 1em;
  white-space: pre;
}

main:has(pre#tituloPagina) #subtitulo {
  display: none;
}

aside img {
  width: inherit;
  height: 100%;
}

@media (max-width: 1024px) {
  body > div#container {
    flex-direction: column;
    gap: 1rem;
  }

  aside {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;

    & img {
      width: auto;
      height: 100%;
    }
  }

  pre#tituloPagina {
    width: 100vw;
    text-align: center;
  }
}
