:root {
  --gap-log: 0.7rem;
}

.movie-log {
  display: flex;
  flex-direction: row;
  gap: var(--gap-log);
  padding: 1.5rem 0;
  margin: 0;
}

.movie-log:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-gray-a30);
}

.movie-log.compact .movie-review {
  display: none;
}

.movie-log .movie-review {
  width: 100%;
  display: block;
  background-color: var(--clr-gray-a10);
  padding: 0.5rem 0.9rem;
  line-height: 160%;
  border-radius: var(--b-radius);
}

div.movie-log.with-review > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-log);
}

.movie-log img:first-of-type {
  height: 110px;
  width: auto;
  border-radius: var(--b-radius);
}

.movie-log .movie-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-log .date {
  font-size: 0.9rem;
  width: 100%;
  display: block;
}

.movie-log .entry-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.movie-log .entry-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gap-log);
  align-items: center;
  justify-content: flex-start;
  line-height: normal;
}

.movie-log .rating {
  color: currentColor;
  box-shadow: inset 0px 0 0 1px;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  font-size: 0.9rem;
  white-space: nowrap;
}

.movie-log .tags {
  font-size: 0.84rem;
  color: var(--clr-gray-a50);
  width: 100%;
  display: block;
}

.movie-log.compact {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  color: var(--clr-gray-a50) !important;
  padding: 0.75rem;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .movie-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gap-log);
    align-items: center;
    justify-content: flex-start;
  }

  .date {
    width: fit-content;
  }

  .entry-title {
    font-size: 1rem;
  }

  .tags {
    width: fit-content;
  }
}

.movie-log.compact > div:first-of-type {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-log);
}
