.lastModif {
  font-size: 0.75rem;
}

ol {
  column-count: 3;
  padding-left: 0;

  li {
    margin-left: 4rem;
  }
}

@media (max-width: 1024px) {
  ol {
    column-count: 2;
  }
}

@media (max-width: 770px) {
  ol {
    column-count: 1;
  }
}
