<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include "head.njk" ignore missing %}
        <link rel="stylesheet" href="/assets/css/changelog.css"/>
    </head>
    <body {% if site.crt %}class="{% if site.crt %}crt{% endif %}"{% endif %}>
        <div>
            {% include "header.njk" ignore missing %}
            <main>
                {% if imgPrincipal %}
                    <figure>
                        <img src="{{ imgPrincipal }}" id="imgPrincipal" alt=""/>
                        {% if imgPrincipalCaption %}
                            <figcaption>{{ imgPrincipalCaption }}</figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
                <h1 id="tituloPagina">{{ title }}</h1>
                {% if subtitulo %}
                    <h2 id="subtitulo">{{ subtitulo }}</h2>
                {% endif %}
                <div class="changelog">
                    {% for log in changelog -%}
                        <h2>
                        v{{ log.v }}
                            <small>{{ log.date }}</small>
                        </h2>
                        <ul>
                            {% for changes in log.items -%}
                                <li>{{ log.items }}</li>
                            {% endfor -%}
                        </ul>
                    {% endfor -%}
                </div>
            </main>
        </div>
        {% include "footer.njk" ignore missing %}
        {% include "scripts_bottom.njk" ignore missing %}
    </body>
</html>