<!doctype html>
<html lang="pt-br">
	<head>
		{% include 'head.html' %}
	</head>
	<body class="crt">
		<div>
			{% include 'header.html' %}
			<main>
				{% if imgPrincipal %}
				<figure>
					<img src="{{ imgPrincipal }}" id="imgPrincipal" alt="" />
					{% if imgPrincipalCaption %}
					<figcaption>{{ imgPrincipalCaption }}</figcaption>
					{%endif%}
				</figure>
				{% endif %}
				<h1 id="tituloPagina">{{ title }}</h1>
				{% if subtitulo %}
				<h2 id="subtitulo">{{ subtitulo }}</h2>
				{%endif%} {% include 'toc.html' %} {{ content | markdownify }} {% if not
				noBacklinks %} {% include 'backlinks.html' %} {% endif %} {% include
				'postFooter.html' %}
			</main>
		</div>

		{% include 'footer.html' %} {% include 'scripts_bottom.html' %}
	</body>
</html>
