<!doctype html>
<html lang="en">
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		<header class="page-header">
			<a href="/index/" class="page-header__logo">
				<img src="/assets/img/favicon.png" alt="" />
			</a>

			<nav>
				<a href="/index/">Sobre</a>
				<a href="/portfolio/">Portfólio</a>
				<a href="/outros/">Outros</a>
				<a href="/doar/">Doar</a>
			</nav>
		</header>
		<main>
			{% if imgPrincipal %}
			<figure>
				<img src="{{ imgPrincipal }}" id="imgPrincipal" alt="" />
				{% if imgPrincipalCaption %}
				<figcaption>{{ imgPrincipalCaption }}</figcaption>
				{%endif%}
			</figure>
			{% endif %}
			<h1 id="tituloPagina">{{ title }}</h1>
			{% if subtitulo %}
			<h2 id="subtitulo">{{ subtitulo }}</h2>
			{%endif%} {{ content | markdownify }} {% include 'backlinks.html' %}
		</main>

		<footer class="page-footer">Copyright {{site.author}}</footer>

		<script src="/assets/js/preloader.js" defer></script>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				import("/assets/js/dither.js").catch((err) =>
					console.error("Erro ao carregar dither.js:", err),
				);
			});
		</script>
	</body>
</html>
