<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include "head.njk" ignore missing %}
        <link rel="stylesheet" href="/assets/css/home.css" />
        <link rel="stylesheet" href="/assets/css/changelog.css" />
    </head>
    <body {% if site.crt %}class="{% if site.crt %}crt{% endif %}"{% endif %}>
        {% include "header.njk" ignore missing %}
        <div id="container">
            <main>
                <pre id="tituloPagina" title="{{ site.title }}">
                                                                  mm                  
                                                                  MM                  
            `7MMpMMMb.pMMMb.  ,pW"Wq.  M"""MMV  ,6"Yb.  `7Mb,od8 mmMMmm                
              MM    MM    MM 6W'   `Wb '  AMV  8)   MM    MM' "'   MM                  
              MM    MM    MM 8M     M8   AMV    ,pm9MM    MM       MM                  
              MM    MM    MM YA.   ,A9  AMV  , 8M   MM    MM       MM                  
            .JMML  JMML  JMML.`Ybmd9'  AMMmmmM `Moo9^Yo..JMML.     `Mbmo               
                                                                                      
                                             ,,                                
                                             db                                
                                                                               
,pP"Ybd  .gP"Ya `7MMpMMMb.pMMMb. `7MMpdMAo.`7MM   ,6"Yb.  `7MMpMMMb.  ,pW"Wq.  
8I   `" ,M'   Yb  MM    MM    MM   MM   `Wb  MM  8)   MM    MM    MM 6W'   `Wb 
`YMMMa. 8M""""""  MM    MM    MM   MM    M8  MM   ,pm9MM    MM    MM 8M     M8 
L.   I8 YM.    ,  MM    MM    MM   MM   ,AP  MM  8M   MM    MM    MM YA.   ,A9 
M9mmmP'  `Mbmmd'.JMML  JMML  JMML. MMbmmd' .JMML.`Moo9^Yo..JMML  JMML.`Ybmd9'  
                                   MM                                          
                                 .JMML.                                        
                </pre>
                {% if subtitulo %}<h2 id="subtitulo">{{ subtitulo }}</h2>{% endif %}
                {{ content | safe }}
            </main>
            <aside>
                {% if imgPrincipal %}
                    <figure>
                        <img src="{{ imgPrincipal }}" id="imgPrincipal" alt="invert" />
                        {% if imgPrincipalCaption %}<figcaption>{{ imgPrincipalCaption }}</figcaption>{% endif %}
                    </figure>
                {% endif %}
                <fieldset class="changelog">
                    <legend>changelog</legend>
                    {% for log in changelog -%}
                        <h2>
                            v{{ log.v }}<small>{{ log.date }}</small>
                        </h2>
                        <ul>
                            {% for changes in log.items -%}
                                <li>{{ log.items }}</li>
                            {% endfor -%}
                        </ul>
                    {% endfor -%}
                </fieldset>
            </aside>
        </div>
        {% include "footer.njk" ignore missing %}
        {% include "scripts_bottom.njk" ignore missing %}
    </body>
</html>
