<!doctype html>
<html lang="en">
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		{% include 'header.html' %}
		<main>
			<div class="memory-fragment">
				<h1 class="glitch">Página não encontrada</h1>
				<pre>
        a8      ,a888a,            a8   
      ,d88    ,8P"' `"Y8,        ,d88   
     a8P88   ,8P       Y8,      a8P88   
   ,d8" 88   88         88    ,d8" 88   
  a8P'  88   88         88   a8P'  88   
,d8"    88   88         88 ,d8"    88   
888888888888 88         88 888888888888 
        88   `8b       d8'         88   
        88    `8ba, ,ad8'          88   
        88      "Y888P"            88   
            </pre
				>
				<a href="/">vamos para casa</a>
			</div>
		</main>

		{% include 'footer.html' %} {% include 'scripts_bottom.html' %}
	</body>
</html>
