<footer class="page-footer">
    <span>
        <a href="https://webring.xxiivv.com/#xxiivv"
           target="_blank"
           rel="noopener noreferrer">
            <img src="https://webring.xxiivv.com/icon.white.svg"
                 alt="XXIIVV webring"
                 title="XXIIVV webring"
                 width="24"
                 height="24" />
        </a>
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="lucide lucide-copyright-icon lucide-copyright">
            <circle cx="12" cy="12" r="10" />
            <path d="M14.83 14.83a4 4 0 1 1 0-5.66" />
        </svg>
        <span>2018—{% year %} {{ site.author }}</span> / <span>Hospedado em <a href="https://neocities.org/site/mozartsempiano"
    target="_blank"
    rel="noreferrer">Neocities</a></span> / <a href="/sitemap/">Sitemap</a>
    </span>
    <a id="scroll-top" href="#top">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             stroke="var(--clr-black-a0)"
             stroke-linecap="round"
             stroke-linejoin="round"
             stroke-width="2"
             class="lucide lucide-arrow-up-icon lucide-arrow-up"
             viewBox="0 0 24 24">
            <path d="m5 12 7-7 7 7m-7 7V5" />
        </svg>
    </a>
</footer>
