<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />

{% assign metatitle = site.title %} {% if title %} {% assign metatitle =
metatitle | prepend: " — " | prepend: title %} {% endif %}
<title>{{- metatitle -}}</title>

{% if content %} {% assign metadesc = content | strip_html | strip |
strip_newlines | truncate: 100 %} {% elsif desc %} {% assign metadesc = desc %}
{% else %} {% assign metadesc = site.desc %} {% endif %}
<meta name="description" content="{{ metadesc }}" />

<meta property="og:title" content="{{- metatitle -}}" />
{% assign metatype = "website" %}
<meta property="og:type" content="{{- metatype -}}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl }}" />
<meta property="og:image" content="/assets/img/avatar.png" />
<meta property="og:description" content="{{- metadesc -}}" />

<link rel="canonical" href="{{ page.url | prepend: site.baseurl }}" />

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/animations.css" />
<link rel="stylesheet" href="/assets/css/variaveis.css" />
<link rel="stylesheet" href="/assets/css/fonts.css" />
{% case page.fileSlug %} {% when "sitemap" %}
<link rel="stylesheet" href="/assets/css/sitemap.css" />
{% else %} {% if page.fileSlug contains "-log" %}
<link rel="stylesheet" href="/assets/css/log.css" />
{% endif %} {% endcase %}
