<header class="page-header">
    <a href="/" class="page-header__logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <circle cx="12" cy="2.4" r="2.4"/>
            <circle cx="20.4" cy="7.2" r="2.4"/>
            <circle cx="20.4" cy="16.8" r="2.4"/>
            <circle cx="12" cy="21.6" r="2.4"/>
            <circle cx="3.6" cy="16.8" r="2.4"/>
            <circle cx="3.6" cy="7.2" r="2.4"/>
        </svg>
    </a>
    <nav>
        <a href="/design/">Design</a>
        <a href="/fotografia/">Fotografia</a>
        <a href="/arte/">Arte</a>
        <a href="/faq/">FAQ</a>
        <a href="https://ko-fi.com/V7V81FVVVI" target="_blank" rel="noopener noreferrer">Doar</a>
    </nav>
</header>